@inherits LayoutComponentBase


<div class="page">
    <main>
        <div class="top-row px-2">
            <a href="google.com">GOOGLE</a>
        </div>

        <div class="nav-menu">
            <AutomarketNav />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
