@using BlazzorFullStack.Shared
@inject ICarService CarService
@implements IDisposable


@foreach(var car in CarService.Cars)
{
    <div>@car.Brand @car.Model</div>
}

@code {
    protected override void OnInitialized()
    {
        CarService.CarChanged += StateHasChanged;
    }
    public void Dispose()
    {
        CarService.CarChanged -= StateHasChanged;
    }
}
