@using BlazzorFullStack.Client.Services.CategoryService;
@inject ICategoryService CategoryService


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="nav-link">
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
        @foreach (var category in CategoryService.Categories)
        {
            <div class="nav-item px-1">
            <NavLink class="nav-link" href="@category.Url">
                @category.CarType
            </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetCategories();
    }
}
