/* /Shared/AutomarketLayout.razor.rz.scp.css */
.page[b-efdbj11k2x] {
    background-color: black;
}

main[b-efdbj11k2x] {
    flex: 1;
}


body[b-efdbj11k2x]{
    background-color: black;
}
@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-efdbj11k2x] {
        display: none;
    }

    .top-row.auth[b-efdbj11k2x] {
        justify-content: space-between;
    }

    .top-row[b-efdbj11k2x]  a, .top-row[b-efdbj11k2x]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-efdbj11k2x] {
        flex-direction: row;
    }

    .top-row[b-efdbj11k2x] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-efdbj11k2x]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-efdbj11k2x], article[b-efdbj11k2x] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/AutomarketNav.razor.rz.scp.css */
.main[b-shk50er7xq]{
    font-size: 40px;
}
/* /Shared/CarList.razor.rz.scp.css */
.card[b-ign7w900ay] {
    background-color: purple;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-3jl9ic788p] {
}
body[b-3jl9ic788p] {
    background-color: black;
}
main[b-3jl9ic788p] {
    flex: 1;
}

.sidebar[b-3jl9ic788p] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-3jl9ic788p] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-3jl9ic788p]  a, .top-row[b-3jl9ic788p]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-3jl9ic788p]  a:hover, .top-row[b-3jl9ic788p]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-3jl9ic788p]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-3jl9ic788p] {
        display: none;
    }

    .top-row.auth[b-3jl9ic788p] {
        justify-content: space-between;
    }

    .top-row[b-3jl9ic788p]  a, .top-row[b-3jl9ic788p]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-3jl9ic788p] {
        flex-direction: row;
    }

    .sidebar[b-3jl9ic788p] {
    }

    .top-row[b-3jl9ic788p] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-3jl9ic788p]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-3jl9ic788p], article[b-3jl9ic788p] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-i1fzuslaur] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-i1fzuslaur] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.nav-link[b-i1fzuslaur]{
    display: flex;
    justify-content: space-between;
}
.navbar-brand[b-i1fzuslaur] {
    font-size: 1.1rem;
}

.oi[b-i1fzuslaur] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-i1fzuslaur] {
    font-size: 0.9rem;
}

    .nav-item:first-of-type[b-i1fzuslaur] {
    }

    .nav-item:last-of-type[b-i1fzuslaur] {
    }

    .nav-item[b-i1fzuslaur]  a {
        color: #d7d7d7;
        border-radius: 2px;
        height: 1.5rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-i1fzuslaur]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-i1fzuslaur]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-i1fzuslaur] {
        display: none;
    }

    .collapse[b-i1fzuslaur] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
